<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>관리자 상세정보</h1>
    <div>
        <form action="/admin/update" method="post">
            <input type="text" name="seq" th:value="${admin_detail.adminSeq}" hidden> <!--disabled--> 
                                                                <!-- 회원 시퀀스를 받아오지만 화면 상에는 보이지 않고(hidden) 수정도 불가능(disabled) 하도록-->
            <table>
                <tr>
                    <td>아이디</td>
                    <td th:text="${admin_detail.adminId}">아이디</td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="password" name="pwd"></td>
                </tr>
                <tr>
                    <td>관리자 이름</td>
                    <td><input type="text" name="name" th:value="${admin_detail.adminName}"></td>
                </tr>
                <tr>
                    <td>관리자 상태</td>
                    <td>
                        <select name="status">
                            <th:block th:if="${admin_detail.adminStatus == 1}">
                                <option value="1" selected>승인대기</option>
                                <option value="2">정상사용</option>
                                <option value="3">사용정지</option>
                            </th:block>
                            <th:block th:if="${admin_detail.adminStatus == 2}">
                                <option value="1">승인대기</option>
                                <option value="2" selected>정상사용</option>
                                <option value="3">사용정지</option>
                            </th:block>
                            <th:block th:if="${admin_detail.adminStatus == 3}">
                                <option value="1">승인대기</option>
                                <option value="2">정상사용</option>
                                <option value="3" selected>사용정지</option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>관리자 등급</td>
                    <td>
                        <select name="grade">
                            <th:block th:if="${admin_detail.adminGrade == 1}">
                                <option value="1" selected>일반 관리자</option>
                                <option value="99">마스터 관리자</option>
                            </th:block>
                            <th:block th:if="${admin_detail.adminGrade == 99}">
                                <option value="1">일반 관리자</option>
                                <option value="99" selected>마스터 관리자</option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button>변경내용 저장</button>
                        <a href="/admin/list">목록으로</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <th:block th:if="${session.update_result != null}">
        <p th:text="${session.update_result.message}"></p>
    </th:block>
</body>
</html>