<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- html 캐싱 제거 : 뒤로가기 눌렀을때 서버 요청 거치지 않고 페이지를 바로 표시함.-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- main.html 로 넘어오기 위한 조건 : 로그인 중 이여야 한다. 백엔드가 아닌 프론트쪽에서 튕겨내기.-->
    <script th:inline="javascript">
        const user = [[${session.loginUser}]] // 세션에 있는 데이터를 가져와서 user 변수에 저장
        if(user == null) { // 이것이 null 이라면, 로그인 안한거
            alert("관리자 전용입니다."); // 경고 메세지
            location.href="/"; // 브라우저의 주소를 / 로 강제세팅
        }
    </script>
</head>
<body>
    <header>
        <nav id="gnb">
            <div id="user_area">
                <div th:if="${session.loginUser != null}"> <!-- session에 로그인 정보가 없으면 /main 페이지에 아무것도 뜨지 않음-->
                    <span id="login_user">
                        <b>
                            <span th:text="${session.loginUser.admin_name}"></span>
                            ( <a href="/admin/detail" th:text="${session.loginUser.admin_id}"></a> )
                        </b>
                        님
                        <a href="/admin/logout">로그아웃</a>
                    </span>
                </div>
            </div>
            <div id="menu">
                <th:block th:if="${session.loginUser.admin_grade == 99}"> <!--마스터 계정만 가능한 추가관리-->
                    <a href="/admin/list">관리자 계정 목록</a>
                    <a href="/ticket/list">이용권 관리</a>
                </th:block>

                <a href="/genre/list">장르 정보 관리</a>
                <a href="/album/list">앨범 관리</a>
                <a href="/music/list">음원 관리</a>
                <a href="/artist/list">아티스트 관리</a>
                <a href="/artist/group/list">아티스트 그룹 관리</a>
                <a href="/ent/list">기획사 정보 관리</a>
                <a href="/member/list">회원 정보 관리</a>
            </div>
        </nav>
    </header>
</body>
</html>