<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- html 캐싱 제거 -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <div>
        <form action="/admin/login" method="post">
            <p>Admin Id</p>
            <input type="text" name="admin_id" id="admin_id">
            <p>Password</p>
            <input type="password" name="admin_pwd" id="admin_pwd">
            <button id="admin_login">로그인</button>
            <a href="/admin/add">관리자 추가</a>
            <p th:text="${message}"></p>
        </form>
    </div>
</body>
</html>