<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- html 캐싱제거 -->
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script th:inline="javascript">
    const user = [[${session.loginUser}]]
    if(user == null) {
      alert("관리자 전용 입니다.");
      location.href="/";
    }
  </script>
</head>
<body>
  <header>
    <nav id="gnb">
      <div id="user_area">
        <div th:if="${session.loginUser != null}">
          <span id="login_user">
            <b>
          <span th:text="${session.loginUser.admin_name}"></span>
          (<a href="/admin/detail" th:text="${session.loginUser.admin_id}"></a>)
        </b>
        님
        <a href="/admin/logout">로그아웃</a>
        </span>
        </div>
      </div>
      <div id="menu">
        <th:block th:if="${session.loginUser.admin_grade == 99}">
          <a href="/admin/list">관리자 계정 목록</a>
          <a href="/ticket/list">이용권 관리</a>
        </th:block>
        <a href="/admin/list">관리자 계정 목록</a>
        <a href="/ticket/list">이용권 관리</a>
        <a href="/genre/list">장르정보 관리</a>
        <a href="/album/list">앨범 관리</a>
        <a href="/music/list">음원 관리</a>
        <a href="/artist/list">아티스트 관리</a>
        <a href="/artist/group/list">아티스트 그룹관리</a>
        <a href="/ent/list">기획사 정보 관리</a>
        <a href="/member/list">회원 정보 관리</a>
      </div>
    </nav>
    </header>
</body>
</html>