<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>기획사 정보 추가</h1>
    <form action="/company/add" method="post">
        <span>기획사 명</span>
        <input type="text" name="name" th:value="${name}">
        <th:block th:if="${result!=null}">
            <p th:text="${result.message}" style="color:red"></p>
        </th:block>
        <button>등록</button>
        <a href="/company/list">목록으로</a>
    </form>
</body>
</html>