<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>기획사 상세 정보</h1>
    <th:block th:if="${company.status==false}">
        <p>잘못된 접근입니다.</p>
    </th:block>
    <th:block th:if="${company.status==true}">
        <form action="/company/update" method="post">
            <input type="number" name="no" th:value="${company.no}" hidden>
            <input type="text" name="name" th:value="${company.name}">
            <button>수정</button>
            <th:block th:if="${company.message!=null}">
                <p th:text="${company.message}" style="color:red"></p>
            </th:block>
        </form>
    </th:block>
    <a th:href="@{/company/list(page=${page}, keyword=${keyword})}">목록으로</a>
</body>
</html>